---
Language: Cpp
BasedOnStyle: LLVM

# Basic formatting
IndentWidth: 2
TabWidth: 2
UseTab: Never
AccessModifierOffset: -2
ColumnLimit: 80

# Braces
BreakBeforeBraces: Attach

# Alignment
AlignAfterOpenBracket: true
AlignTrailingComments: true

# Spacing
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1

# Breaking
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true

# Pointers
PointerAlignment: Right

# Misc
Cpp11BracedListStyle: true
DerivePointerAlignment: false
MaxEmptyLinesToKeep: 1